*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#screen1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100vw;
    position: relative;
}
.playbtn button{
    height: 60px;
    width: 150px;
    font-size: 30px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    position: absolute;
    top: 325px;
    right: 170px;
}
.playbtn h1{
    font-size: 70px;
}
#screen2{
    display: none;
    width: 100vw;
}
#header{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    /* margin-left: 50px; */
    /* align-items: center; */
}
#total{
    font-size: 50px;
}

#selectbox button{
width: 70px;
height: 50px;
font-size: 30px;
}

